$gradientColor1: rgba(40, 40, 40, 0.9);
$gradientColor2: rgba(40, 40, 40, 0.7);
$gradientColor3: rgba(40, 40, 40, 0.6);
$gradientColor4: rgba(40, 40, 40, 0);
$purplishRed: #e36b6b;
$heartPink: #e95151;
$gray: rgb(102, 102, 102);
$word: rgb(40, 40, 40);
@mixin clickEventInIOS {
  cursor: pointer;
}

#street {
  display: none;
}

.show-list {
  padding: 10px 10px 30px 10px;
  // .wrapper {
  //   // display: flex;
  //   // flex-flow: row nowrap;
  //   // justify-content: space-around;
  //   // align-items: flex-start;
  // }
  .situation {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
  }
  .col {
    // flex: 1;
    width: 48%;
  }
  ._left {
    margin-right: 5px;
  }
  ._right {
    margin-left: 5px;
  }
  .view {
    @include clickEventInIOS;
    margin-bottom: 10px;
    position: relative;
    .info {
      width: 100%;
      color: rgb(255, 255, 255);
      padding: 0 5px 3px 5px;
      background-image: -webkit-linear-gradient(
        to top,
        $gradientColor1 0%,
        $gradientColor2 50%,
        $gradientColor3 70%,
        $gradientColor4 100%
      );
      background-image: linear-gradient(
        to top,
        $gradientColor1 0%,
        $gradientColor2 50%,
        $gradientColor3 70%,
        $gradientColor4 100%
      );
      position: absolute;
      bottom: 0;
      .location {
        font-size: 1.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .like {
        cursor: pointer;
      }
      .like-time {
        font-size: 1.2rem;
        line-height: 1.9rem;
        width: 100%;
        flex-flow: row nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .like-num {
          font-size: 1.4rem;
        }
        .icon-heart {
          font-size: 1.6rem;
        }
      }
    }
  }
}
.region-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4rem;
  .top {
    height: 100%;
    background-color: $purplishRed;
    font-size: 1.7rem;
    line-height: 4rem;
    color: #fff; // display: flex; // flex-flow: row nowrap; // justify-content: center; // align-items: center;
    text-align: center;
    position: relative;
    .icon-back {
      transform: rotate(-90deg);
      display: inline-block;
      margin-left: 10px;
      transition: transform 0.5s ease-in-out;
    }
    .icon-user {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 2.9rem;
      margin-right: 10px;
      color: white;
      line-height: 4rem;
    }
  }
  .region-container {
    display: none;
    padding: 0 10px;
    background-color: $purplishRed;
    .region-wrapper {
      padding: 1rem 0 0 0;
      border-top: 1px solid #fff;
      flex-flow: row wrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: space-around; // height: 8rem;
      .region-item {
        text-align: center;
        width: 21%;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 1rem;
      }
    }
  }
}
body {
  padding-bottom: 6rem;
  // padding-top: 12rem;
  padding-top: 4rem;
}
.footer {
  // height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .btn {
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    @include clickEventInIOS;
    > img {
      height: 2.2rem;
    }
    .word {
      padding: 5px 0;
      font-size: 1.2rem;
      color: $word;
    }
    .circle {
      background-color: $heartPink;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      line-height: 4.1rem;
      box-sizing: content-box;
      border: 5px solid #fff;
      border-radius: 50%;
      > img {
        width: 3rem;
      }
    }
  }
}
.select-on {
  color: $purplishRed;
  background-color: #fff;
}
.noBorder {
  border: none !important;
}
#game-rule {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 0 10px;
  .btn-group {
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    color: $purplishRed;
    a {
      color: $purplishRed;
      text-decoration: none;
    }
  }
  .words {
    height: 90%;
    padding: 10px 10px 10px 18px;
    overflow-y: scroll;
  }
}
#rankList {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0 10px;
  .btn-group {
    padding: 10px 0;
    font-size: 2.5rem;
    color: $purplishRed;
  }
  .list {
    padding: 0 15px;
    overflow-y: scroll;
    height: 90%;
    .three {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .num {
        flex: 1;
        text-align: center;
        font-size: 3rem;
      }
      .avatar-word {
        flex: 8;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 13px 0;
        border-bottom: 1px solid #ccc;
      }
      .avatar {
        position: relative;
        width: 33%;
        height: 100%;
        // border: 1px solid transparent;
        background-color: #fff;
        .avatarImg {
          object-fit: cover;
          text-align: center;
          width: 100%;
          background-color: #fff;
          border: 3px solid #fff;
        }
        .mask {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          box-sizing: content-box;
          // border: 3px solid #fff;
          // border-right:10px solid #fff;
          padding: 0;
          // background-color: #fff;
          // padding-right:3px;
        }
      }
      .word {
        width: 55%;
        .name {
          color: #666666;
          font-size: 2.8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .like-wrapper {
          font-size: 2rem;
          .icon-heart {
            font-size: 2.5rem;
          }
        }
      }
    }
    .item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .num {
        flex: 1;
        text-align: center;
        font-size: 2rem;
        color: #999999;
      }
      .avatar-word {
        flex: 8;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
      }
      .avatar {
        width: 19%;
        height: 100%;
        background-color: white;
        border: 1px solid #fff;
        border-radius: 50%;
        overflow: hidden;
      }
      .word {
        width: 65%;
        .name {
          color: #666666;
          font-size: 2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 2.1rem;
        }
        .like-wrapper {
          font-size: 2rem;
          color: #e95151;
          .icon-heart {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
.first {
  color: #ff5242;
}
.second {
  color: #ffc41f;
}
.third {
  color: #24b8ee;
}
.icon-back,
.icon-heart,
.icon-user {
  @include clickEventInIOS;
}
.like-on {
  color: $heartPink !important;
}
#register {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/register-bg.jpg) no-repeat border-box;
  background-size: 100% 100%;
  .title {
    text-align: center;
    color: $purplishRed;
    font-size: 2.5rem;
    padding: 10px;
    line-height: 3rem;
    .icon-back {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  .content-container {
    position: absolute;
    top: 18.2%;
    left: 10%;
    width: 80%;
    .input-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 calc(1.2rem + 10px) 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid $heartPink;
      position: relative;
      label {
        width: 35%;
        color: $purplishRed;
        font-size: 2rem;
      }
      input {
        width: 65%;
        border: 0;
        background: transparent;
        color: #666;
        font-size: 2rem;
      }
      input[name="phone"] {
        color: $heartPink;
      }
      .hint {
        display: none;
        position: absolute;
        bottom: -1.5rem;
        font-size: 1rem;
        line-height: 1rem;
        right: 0;
        color: green;
      }
    }
    .btn-register {
      background-color: $heartPink;
      color: white;
      height: 3.5rem;
      line-height: 3.5rem;
      text-align: center;
      border-radius: 8px;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      margin: 30px 10px 0 10px;
      cursor: pointer;
    }
  }
}
.error {
  color: $heartPink !important;
}
