$gradientColor1: rgba(40, 40, 40, 0.9);
$gradientColor2: rgba(40, 40, 40, 0.7);
$gradientColor3: rgba(40, 40, 40, 0.6);
$gradientColor4: rgba(40, 40, 40, 0);
$purplishRed: rgb(175, 48, 27);
$heartPink: rgb(233, 81, 81);
$gray: rgb(102, 102, 102);
.swal-footer {
  text-align: center;
}

.swal-button {
  background-color: $purplishRed;
}

.swal-button:active {
  background-color: $purplishRed;
}

@media (max-width: 500px) {
  .swal-modal {
    width: calc(100% - 70px);
  }
}

body {
  background-color: #f0f0f0;
  > .container {
    padding: 15px 15px 0 15px;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
  }
}

.words {
  width: 100%;
  border: 0;
  font-size: 1.7rem;
}

button.btn-submit {
  border: 1px solid rgb(175, 48, 27);
  background-color: rgb(175, 48, 27);
  width: 100%;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

.img-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0; // height: 6rem;
  margin: 10px 0;
  .btn-add {
    position: relative;
  }
  li {
    width: 30%;
    height: 100%;
    margin-right: 5%;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .word {
      width: 100%;
      height: 100%;
      line-height: 5rem;
      text-align: center;
      font-size: 2rem;
      color: $purplishRed;
      border: 1px solid $purplishRed;
    }
    .input-file {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.location-wrapper {
  width: 100%;
  padding: 15px 0;
  font-size: 1.6rem;
  color: #666;
  line-height: 2.1rem;
  border-top: 1px solid #999999;
  cursor: pointer;
  .icon-location {
    color: $heartPink;
  }
}

section.map-input {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  #map {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  $btn-height: 4rem;
  .btn-group {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    // width: calc(80% - 20px);
    box-shadow: 1px 1px 8px #a7a7a7;
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    .region-select {
      width: 30%;
      height: $btn-height;
      background-color: #fff;
      // border: 1px solid #ccc;
      // border-right: 0;
      border: 0;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      float: left;
      text-align: center;
      line-height: $btn-height;
      font-size: 1.5rem;
      position: relative;
      cursor: pointer;
      .icon-triangle-down {
        margin-left: 10px;
      }
      &::after {
        content: "";
        width: 1px;
        height: 2.4rem;
        margin: -1.2rem 0 0 0;
        background-color: #cccccc;
        position: absolute;
        top: 50%;
        right: -1px;
        border: 0;
      }
    }
    .view-input {
      width: 70%;
      height: $btn-height;
      line-height: $btn-height;
      // border: 1px solid #ccc;
      // border-left: 0;
      border: 0;
      font-size: 2rem;
      // padding: 0 10px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0 $btn-height 0 10px;
    }
    .btn-selected {
      // width: calc(100%-20px);
      // width: $btn-height;
      position: absolute;
      top: 0;
      right: 10px;
      height: $btn-height;
      line-height: $btn-height;
      // background-color: $purplishRed;
      // border: 1px solid $purplishRed;
      // border-radius: 10px;
      color: $purplishRed;
      font-size: 2.7rem;
      text-align: center;
      // box-shadow: 2px 2px 5px #a7a7a7;
      cursor: pointer;
    }
  }
  .btn-back {
    $backHeight: 35px;
    width: $backHeight;
    height: $backHeight;
    background-color: #af301b;
    color: white;
    border: 1px solid #af301b;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 100px;
    line-height: $backHeight - 1px;
    text-align: center;
    box-shadow: 2px 2px 5px #a7a7a7;
    cursor: pointer;
  }
}

.picker .picker-panel .picker-choose .confirm {
  color: $purplishRed !important;
}

//gallery 样式
.gallery {
  animation-duration: 0.5s !important;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  > img {
    object-fit: contain;
    cursor: pointer;
    animation-duration: 0.5s !important;
  }
  .btn-del {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    background-color: #282828;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
}

// #register{
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: url(../../img/register-bg.jpg) no-repeat border-box;
//   background-size: 100% 100%;
//   .title {
//     text-align: center;
//     color: $purplishRed;
//     font-size: 2.5rem;
//     padding: 10px;
//   }
//   .content-container {
//     position: absolute;
//     top: 18.2%;
//     left: 10%;
//     width: 80%;
//     .input-wrapper {
//       display: flex;
//       flex-flow: row nowrap;
//       justify-content: space-between;
//       align-items: center;
//       margin: 0 0 calc(1.2rem + 10px) 0;
//       padding: 0 0 10px 0;
//       border-bottom: 1px solid $heartPink;
//       position: relative;
//       label {
//         width: 35%;
//         color: $purplishRed;
//         font-size: 2rem;
//       }
//       input {
//         width: 65%;
//         border: 0;
//         background: transparent;
//         color: #666;
//         font-size: 2rem;
//       }
//       input[name="phone"] {
//         color: $heartPink;
//       }
//       .hint {
//         display: none;
//         position: absolute;
//         bottom: -1.5rem;
//         font-size: 1rem;
//         line-height: 1rem;
//         right: 0;
//         color: green;
//       }
//     }
//     .btn-register {
//       background-color: $heartPink;
//       color: white;
//       height: 3.5rem;
//       line-height: 3.5rem;
//       text-align: center;
//       border-radius: 8px;
//       font-size: 2rem;
//       letter-spacing: 0.5rem;
//       margin: 30px 10px 0 10px;
//       cursor: pointer;
//     }
//   }
// }

// .error {
//   color: $heartPink!important;
// }

.swal-footer {
  text-align: center;
}
.swal-button {
  background-color: $purplishRed;
}
.swal-button:active {
  background-color: $purplishRed;
}
@media (max-width: 500px) {
  .swal-modal {
    width: calc(100% - 70px);
  }
}