$gradientColor1: rgba(40, 40, 40, 0.9);
$gradientColor2: rgba(40, 40, 40, 0.7);
$gradientColor3: rgba(40, 40, 40, 0.6);
$gradientColor4: rgba(40, 40, 40, 0);
$purplishRed: rgb(175, 48, 27);
$heartPink: rgb(233, 81, 81);
$gray: rgb(102, 102, 102);
.swal-footer {
  text-align: center;
}

.swal-button {
  background-color: $purplishRed;
}

.swal-button:active {
  background-color: $purplishRed;
}

@media (max-width: 500px) {
  .swal-modal {
    width: calc(100% - 70px);
  }
}

body {
  background-color: #f0f0f0;
  >.container {
    padding: 15px 15px 0 15px;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
  }
}

.words {
  width: 100%;
  border: 0;
  font-size: 1.7rem;
}

.img-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items: center;
  padding: 10px 0; // height: 6rem;
  margin: 10px 0;
  .btn-add{
    position: relative;
  }
  li {
    width: 30%;
    height: 100%; 
    margin-right: 5%;
    &:last-of-type{
      margin-right: 0;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .word {
      width: 100%;
      height: 100%;
      line-height: 5rem;
      text-align: center;
      font-size: 2rem;
      color: $purplishRed;
      border: 1px solid $purplishRed;
    }
    .input-file{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      opacity: 0;
    }
  }
}

.location-wrapper {
  width: 100%;
  padding: 15px 0;
  font-size: 1.6rem;
  color: #666;
  line-height: 2.1rem;
  border-top: 1px solid #999999;
  .icon-location {
    color: $heartPink;
  }
}